image:
  repository: percona/pmm-server
  pullPolicy: IfNotPresent
  tag: "2.42.0"
  imagePullSecrets: []
pmmEnv:
  DISABLE_UPDATES: "1"
pmmResources: {}
readyProbeConf:
  initialDelaySeconds: 1
  periodSeconds: 5
  failureThreshold: 6
secret:
  name: pmm-secret
  annotations: {}
  create: true
  pmm_password: ""
certs: {}
service:
  name: monitoring-service
  type: NodePort
  ports:
    - port: 443
      targetPort: https
      protocol: TCP
      name: https
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
ingress:
  enabled: false
  nginxInc: false
  annotations: {}
  community:
    annotations: {}
  ingressClassName: ""
  hosts:
    - host: chart-example.local
      paths: []
  pathType: Prefix
  tls: []
storage:
  name: pmm-storage
  storageClassName: ""
  size: 10Gi
  dataSource: {}
  selector: {}
nameOverride: ""
extraLabels: {}
serviceAccount:
  create: true
  annotations: {}
  name: "pmm-service-account"
podAnnotations: {}
podSecurityContext: {}
securityContext: {}
nodeSelector: {}
tolerations: []
affinity: {}
extraVolumeMounts: []
extraVolumes: []
