apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: local-path-pvc
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 128Mi

---
apiVersion: v1
kind: Pod
metadata:
  name: local-path-volume-test
spec:
  containers:
  - name: volume-test
    image: nginx:stable-alpine
    imagePullPolicy: IfNotPresent
    command:
      - "/bin/sh"
    args:
      - "-c"
      - "touch /data/SUCCESS && exit 0 || exit 1"
    volumeMounts:
    - name: volv
      mountPath: /data
    ports:
    - containerPort: 80
  restartPolicy: "Never"
  volumes:
  - name: volv
    persistentVolumeClaim:
      claimName: local-path-pvc
