global:
  imageRegistry: "easzlab.io.local:5000"
  storageClass: "{{ kubeapps_storage_class }}"
packaging:
  helm:
    enabled: true
  carvel:
    enabled: false
  flux:
    enabled: false
frontend:
  image:
    repository: bitnami/nginx
    tag: 1.23.4-debian-11-r18
  replicaCount: 1
  service:
    type: NodePort
dashboard:
  enabled: true
  image:
    repository: bitnami/kubeapps-dashboard
    tag: 2.7.0-debian-11-r12
  replicaCount: 1 
apprepository:
  image:
    repository: bitnami/kubeapps-apprepository-controller
    tag: 2.7.0-scratch-r0
  syncImage:
    repository: bitnami/kubeapps-asset-syncer
    tag: 2.7.0-scratch-r0
  initialRepos:
    - name: bitnami
      url: https://charts.bitnami.com/bitnami
  crontab: "*/10 * * * *"
  watchAllNamespaces: true
  replicaCount: 1
authProxy:
  enabled: false
clusters:
  - name: default
    domain: cluster.local
postgresql:
  enabled: true
  auth:
    username: "postgres"
    postgresPassword: "Postgres1234!"
    database: assets
    existingSecret: ""
  primary:
    persistence:
      enabled: true 
  architecture: standalone
kubeappsapis:
  image:
    repository: bitnami/kubeapps-apis
    tag: 2.7.0-debian-11-r10
  replicaCount: 1
