replicaCount: 1
image:
  repository: percona/percona-server-mongodb-operator
  tag: 1.16.2
  pullPolicy: IfNotPresent
disableTelemetry: false
watchAllNamespaces: false
rbac:
  create: true
serviceAccount:
  create: true
  annotations: {}
annotations: {}
labels: {}
podAnnotations: {}
podLabels: {}
podSecurityContext: {}
securityContext: {}
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
env:
  resyncPeriod: 5s
resources: {}
nodeSelector: {}
tolerations: []
affinity: {}
logStructured: false
logLevel: "INFO"
