apiVersion: nacos.io/v1alpha1
kind: Nacos
metadata:
  name: nacos
spec:
  # 独立模式standalone 集群模式cluster
  type: cluster
  image: nacos/nacos-server:1.4.1
  replicas: 3
  #内置数据源
  database:
    type: embedded
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
    limits:
      cpu: 2
      memory: 2Gi
  volume:
    enabled: true
    requests:
      storage: 1Gi
    storageClass: {{ nfs_storage_class }}
  config: |
    management.endpoints.web.exposure.include=*