kubeTargetVersionOverride: "{{ K8S_VER }}"
alertmanager:
  alertmanagerSpec:
    image:
      registry: easzlab.io.local:5000
  service:
    nodePort: 30902
    type: NodePort
grafana:
  enabled: true
  adminUser: admin
  adminPassword: Admin1234!
  image:
    repository: easzlab.io.local:5000/prometheus/grafana 
  service:
    nodePort: 30903
    type: NodePort
  sidecar:
    image:
      repository: easzlab.io.local:5000/prometheus/k8s-sidecar 
    skipTlsVerify: true
kubeApiServer:
  enabled: true
kubelet:
  enabled: true
kubeControllerManager:
  enabled: true
  endpoints:
{% for h in groups['kube_master'] %}
  - {{ h }}
{% endfor %}
  service:
    port: 10257
    targetPort: 10257
  serviceMonitor:
    https: true
    insecureSkipVerify: true
    serverName: localhost
coreDns:
  enabled: true
kubeEtcd:
  enabled: true
  endpoints:
{% for h in groups['etcd'] %}
  - {{ h }}
{% endfor %}
  service:
    port: 2379
    targetPort: 2379
  serviceMonitor:
    scheme: https
    insecureSkipVerify: true
    serverName: localhost
    caFile: /etc/prometheus/secrets/etcd-client-cert/etcd-ca
    certFile: /etc/prometheus/secrets/etcd-client-cert/etcd-client
    keyFile: /etc/prometheus/secrets/etcd-client-cert/etcd-client-key
kubeScheduler:
  enabled: true
  endpoints:
{% for h in groups['kube_master'] %}
  - {{ h }}
{% endfor %}
  service:
    port: 10259
    targetPort: 10259
  serviceMonitor:
    https: true
    insecureSkipVerify: true
kubeProxy:
  enabled: true
  endpoints:
{% for h in groups['kube_master'] %}
  - {{ h }}
{% endfor %}
{% for h in groups['kube_node'] %}
{% if h not in groups['kube_master'] %}
  - {{ h }}
{% endif %}
{% endfor %}
kubeStateMetrics:
  enabled: true
kube-state-metrics:
  image:
    registry: easzlab.io.local:5000
    repository: prometheus/kube-state-metrics
prometheus-node-exporter:
  image:
    registry: easzlab.io.local:5000
    repository: prometheus/node-exporter
prometheusOperator:
  enabled: true
  admissionWebhooks:
    enabled: true
    patch:
      enabled: true
      image:
        registry: easzlab.io.local:5000
        repository: prometheus/kube-webhook-certgen
        tag: v1.5.1
  image:
    registry: easzlab.io.local:5000
    repository: prometheus/prometheus-operator
  service:
    nodePort: 30899
    nodePortTls: 30900
    type: NodePort
  prometheusConfigReloader:
    image:
      registry: easzlab.io.local:5000
      repository: prometheus/prometheus-config-reloader
prometheus:
  enabled: true
  service:
    nodePort: 30901
    type: NodePort
  prometheusSpec:
    image:
      registry: easzlab.io.local:5000
    replicas: 1
    secrets:
    - etcd-client-cert
    storageSpec: {}
